.container{
    position: relative;
    width: auto;  
}
.container h4{
    position: absolute; 
    top: 5%;
    left: 5%;
    color: #faf9f1;
    font-family: 'Playfair Display', serif;
    font-size: 3vw; 
    font-weight: 300; 
    width: inherit;    
    text-shadow: #0C0D1D 0px 0px 10px; 
    display: flex; 
}
.history-introduction{
    margin: 1vw 2vw; 
    font-size: 16px; 
    line-height: 25px;
    padding-bottom: 1.4vw;
    border-bottom: 1px solid #0C0D1D;
}
.section-one{
    display: grid; 
    margin: 1vw 4vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto; 
    column-gap: 1.4vw;
    row-gap: 1.4vw;
}
article img { 
    transition: 0.3s;
}
article img:hover{
    border-radius: 10px;
    outline: 7px solid  rgb(54, 119, 116);
    outline-offset: -7px;
    box-shadow: rgba(104,104,104, 0.5) 0px 0px 15px; 
}
h2 {
    font-family: 'PLayfair Display', serif;
    font-size: 20px;
    font-weight: 550;
    color: #737373;
    letter-spacing: 1px;
}
@media only screen and (max-width: 900px){
    .section-one{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px){
    .container h4{
        display: none;
    }
    .section-one{
        grid-template-columns: 1fr;
    }
}