.container{
    position: relative;
    width: auto;  
}
.container h4{
    position: absolute; 
    bottom: 11%;
    left: 5%;
    color: #faf9f1;
    font-family: 'Playfair Display', serif;
    font-size: 3vw; 
    font-weight: 300; 
    width: inherit;    
    text-shadow: #0C0D1D 0px 0px 10px; 
    display: flex; 
}
.history-introduction{
    margin: 1vw 2vw; 
    font-size: 16px; 
    line-height: 25px;
    padding-bottom: 1.4vw;
    border-bottom: 1px solid #0C0D1D;
}
.section-one{
    display: grid; 
    margin: 2vw 4vw;
    grid-template-columns: 1fr 1fr;
    grid-row: auto; 
    column-gap: 1.4vw;
}
#f101-preview {
    padding: 2vw 2vw 0 0;
    border-top: 9px solid #0C0D1D;
    border-right: 9px solid #0C0D1D;
    border-radius: 0 20px 0 0;
    margin: 2vw 0;
}
#f101-preview h1{
    font-size: 50px;
}
#f101-preview p{
    font-size: 20px; 
    margin: 1vw 0; 
}
#f101-preview button{
    margin: 2vw 3vw 3vw 3vw; 
    padding: 0.5vw 2vw; 
    color: #faf9f1; 
    background-color: #0C0D1D;
    border-radius: 5px;
    font-size: 18px;
    border: transparent;
    letter-spacing: 1.5px;
}
.rules-preview{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-row: auto; 
    column-gap: 1vw;
    row-gap: 1vw;;
    margin: auto; 
}
.rules-preview p{
    font-size: 14px;
    padding: 0 1vw 1vw 0; 
    border-bottom: 1px solid #0C0D1D;
    border-right: 1px solid #0C0D1D;
    border-radius: 0 0 20px 0;
}
h2 {
    font-family: 'PLayfair Display', serif;
    font-size: 20px;
    font-weight: 550;
    color: #737373;
    letter-spacing: 1px;
}
/* section 3 */
.driver-standings, .team-standings{
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: auto;
    column-gap: 1.5vw;
    background-color: #0C0D1D;
    padding: 2vw 10vw;
    grid-template-areas: 
    "heading heading heading"
    "second first third";
}
.team-standings{
    padding-bottom: 0;
}
.driver-standings>h1, .team-standings>h1{
    grid-area: heading; 
    text-align: center;
    letter-spacing: 1PX;
    font-size: 4vw; 
    color: #faf9f1;
    font-family: 'Playfair Display',serif;
    margin: 3vw 0;
    width: 100%;
}
#lastname, #first-name{
    color: #faf9f1;
    font-family: "DM Sans", sans-serif;
    text-align: left;
}
#bottas-3{
    grid-area: third;
    margin-top: 6vw;
    position: relative;
}
 #ferrari-standing{
    grid-area: third;
    margin-top:3.3vw;
    position: relative;
}
#verstappen-1, #mercedes-standing{
    grid-area: first;
    position: relative;
}
#hamilton-2{
    grid-area: second;
    margin-top: 5.6vw;
    position: relative;
}
#redbull-standing{
    grid-area: second;
    margin-top: 2.2vw;
    position: relative;
}
#verstappen-1:hover, #hamilton-2:hover, #bottas-3:hover{
    background: #292929;
}
.driver-standings a:hover{
    box-shadow: 0 0 30px rgba(104,104,104, 0.5);
}
#standing{
    position: absolute; 
    top: 5%; 
    right: 5%; 
    font-size: 60px; 
    font-weight: 700;
    text-shadow: 2px 2px 2px #38383f;
    font-style: italic;
    font-family: "DM Display", serif;
}
h3 img{
    float:right;
    margin-right: 20px;
    width:40px;
    height:auto;
}
#first-name{
    padding: 0 0 0 2vw;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 500;
}
#lastname {
    margin: 0 0 0 2vw; 
    font-size: 2.4vw;
    margin-bottom: 25px;
    letter-spacing: 1px; 
    font-weight: bold;
}
#bottas-3, #verstappen-1, #hamilton-2{
    background-color: #38383f;
    transition: .4s;
    border-radius: 20px;

}
#bottas-3>img, #verstappen-1>img, #hamilton-2>img{
    background-color: #faf9f1 ;
    border-radius: 20px 20px 0 0;

}
.grid-standings-2021{
    margin: 1vw 10vw;
    list-style: none;
    align-items: center;
}
.grid-standings-2021 li{
    border-radius: 5px;
    transition: .4s;
    display: flex; 
    position: relative; 
    width: 100%;
    flex-wrap: wrap;
    align-items: wrap;
    justify-content: space-between;
    background: #e6e5de;
    margin: 5px 0;
}
.grid-standings-2021 li a{
    padding:15px 10px 15px 20px;
    width: 100%;
    color: #0C0D1D;
}
.grid-standings-2021 li a i{
    color: rgb(54, 119, 116);
    margin-left: 10px;
}
.grid-standings-2021 li:hover{
    background: #38383f;
}
.grid-standings-2021 li:hover a{
    color: #faf9f1;
}
.grid-standings-2021 li:hover i{
    color:#faf9f1;
}
#f1-standing{
    font-size: 18px; 
    font-weight:bold;
    margin: 1vw;
    padding-right: 1vw;
    letter-spacing: 1px;
    border-right: solid 5px #12142d;
}
#f1-lastname, #f1-teamname{
    font-size: 18px; 
    font-weight: 600;
    text-transform: uppercase; 
    margin: 0 1vw;
    letter-spacing: 1px;
}
#f1-teamname{
    text-transform: capitalize;
    letter-spacing: 0.7px;
}
#f1-firstname {
    font-size: 16px;
    text-transform: capitalize;}
#f1-team, #f1-drivers{
    font-size: 14px; 
    color: #737373; 
}
#f1-car-design{
    float: right;
    margin: auto 5vw;
    height: 30px;
    width: 87px;
}
#f1-car-design img{
    width: 100%;
    height: auto;
}
#f1-points-finish{
    font-size: 15px;
    font-weight: bold; 
    width: 150px;
    margin: 4px;
    text-align: right;
    float: right;
    letter-spacing: 1px;
    padding: 0 20px 0 0 ;
}
#standing-button{
    margin: auto;
    display: flex;
}
button{
    background: #0C0D1D;
    border:2px solid #0C0D1D;
    border-radius: 5px;
    display: center;
    margin: 1vw auto;
    padding: 12px 20px 12px 15px;
    font-weight: bold;
    color: #faf9f1;
    transition: .3s;
}
button:hover{
    background: #faf9f1;
    color:rgb(54, 119, 116);
    border:2px solid rgb(54, 119, 116);
}
.team-standings #standing{
    position: absolute; 
    top: 80%; 
    right: 5%; 
    font-size: 6vw; 
    font-weight: 700;
    padding: 1.4vw;
    text-shadow: 2px 2px 2px #38383f;
    font-style: italic;
    font-family: "DM Display", serif;
}
.team-standings #team-logo{
    padding: 3vw 2vw 0 2vw ;
}
#ferrari-standing #team-logo{
    padding: 0 6.2vw;
}
#redbull-standing, #mercedes-standing, #ferrari-standing{
    border-radius: 20px 20px 0 0;
    margin-bottom: 3vw;
    background: #FFFFFF;
}
/* section 3 */
.section-four {
    margin: 2vw 4vw;
}
#f1-race-stats{
    font-size: 40px; 
    padding-bottom: 1vw;
    margin: 2vw 0 ;
    border-bottom: 5px solid #38383f; 
    transition: 0.4s;
}
.race-stats-preview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    column-gap: 1.4vw;
    row-gap: 1.4vw;
}
#f1-race-stats:hover {
    border-bottom:5px solid rgb(54, 119, 116);
    color:rgb(54, 119, 116);
    font-size: 45px;
}

@media only screen and (max-width: 900px){
    .section-one{
        grid-template-columns: 1fr;
        margin: 2vw;
    }
.race-stats-preview{
    grid-template-columns: 1fr 1fr;
    }   
}

@media only screen and (max-width: 760px){
    .container h4{
        display: none;
    }
    .race-stats-preview{
        grid-template-columns: 1fr;
    }  
    .driver-standings, .team-standings{
        grid-template-columns: 1fr;
        grid-template-areas:
        "heading"
        "first";
        padding: 2vw;
    }
    .grid-standings-2021{
        margin:1vw 2vw;}

    #hamilton-2, #bottas-3, #redbull-standing, #ferrari-standing{
        display: none;
    }
    #standing{
        display:none;
    }
    .rules-preview{
        column-gap: 1.4vw;
    }
    #f1-firstname, #f1-team, #f1-drivers, #f1-car-design{
        display: none;
    }
}