.container{
    position: relative;
    width: auto;  
}
.container h4{
    position: absolute; 
    bottom: 11%;
    left: 5%;
    color: #faf9f1;
    font-family: 'Playfair Display', serif;
    font-size: 3vw; 
    font-weight: 300; 
    width: inherit;    
    text-shadow: #0C0D1D 0px 0px 10px; 
    display: flex; 
}
.history-introduction{
    margin: 1vw 2vw; 
    font-size: 16px; 
    line-height: 25px;
    padding-bottom: 1.4vw;
    border-bottom: 1px solid #0C0D1D;
}
.section-one{
    display: grid; 
    margin: 2vw 4vw;
    grid-template-columns: 1fr 1fr;
    grid-row: auto; 
    column-gap: 1.4vw;
}
#f101-preview {
    padding: 2vw 2vw 0 0;
    border-top: 9px solid #0C0D1D;
    border-right: 9px solid #0C0D1D;
    border-radius: 0 20px 0 0;
    margin: 2vw 0;
}
#f101-preview h1{
    font-size: 50px;
}
#f101-preview p{
    font-size: 20px; 
    margin: 1vw 0; 
}
#f101-preview button{
    margin: 2vw 3vw 3vw 3vw; 
    padding: 0.5vw 2vw; 
    color: #faf9f1; 
    background-color: #0C0D1D;
    border-radius: 5px;
    font-size: 18px;
    border: transparent;
    letter-spacing: 1.5px;
}
.rules-preview{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-row: auto; 
    column-gap: 1vw;
    row-gap: 1vw;;
    margin: auto; 
}
.rules-preview p{
    font-size: 14px;
    padding: 0 1vw 1vw 0; 
    border-bottom: 1px solid #0C0D1D;
    border-right: 1px solid #0C0D1D;
    border-radius: 0 0 20px 0;
}
h2 {
    font-family: 'PLayfair Display', serif;
    font-size: 20px;
    font-weight: 550;
    color: #737373;
    letter-spacing: 1px;
}
.driver-standings{
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: auto;
    column-gap: 1vw;
    background-color: #0C0D1D;
    padding: 2vw 10vw;
    grid-template-areas: 
    "heading heading heading"
    "second first third";
}
.driver-standings>h1{
    grid-area: heading; 
    text-align: center;
    font-size: 50px; 
    color: #faf9f1;
    font-family: 'Playfair Display',serif;
    margin: 5vw 0;
    width: 100%;
}
#lastname, #first-name{
    color: #faf9f1;
    font-family: "DM Sans", sans-serif;
    text-align: left;
}
#bottas-3{
    grid-area: third;
    margin-top: 5.5vw;
}
#verstappen-1{
    grid-area: first;
}
#hamilton-2{
    grid-area: second;
    margin-top: 5.5vw;
}
h3 img{
    float:right;
    margin-right: 20px;
    width:2vw;
    height:auto;
}
#first-name{
    margin: 0 0 0 2vw;
    letter-spacing: 2px;
}
#lastname {
    margin: 0 0 0 2vw; 
    font-size: 30px;
}
#bottas-3, #verstappen-1, #hamilton-2{
    background-color: #737373;
    border-radius: 20px;
}
#bottas-3>img, #verstappen-1>img, #hamilton-2>img{
    background-color: #0C0D1D;
}

@media only screen and (max-width: 900px){
    .section-one{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px){
    .container h4{
        display: none;
    }
    .section-one{
        grid-template-columns: 1fr;
        margin: 2vw;
    }
    .rules-preview{
        column-gap: 1.4vw;
    }
}